[2022-10-05 05:58] #2528 closed

[2022-10-05 06:12] david972 commented on #1912
not sure is related

[2022-10-05 07:36] aeneasr commented on #2505
I think this is a great idea and solution 3 looks very good to me

[2022-10-05 07:52] aeneasr commented on #517
Awesome!! If anyone is up for contributing this I would appreciate it a lot!

[2022-10-05 07:57] frederikhors commented on #2380
I still cannot see it in docs page:

![image](https://user-images.githubusercontent.com/41120635/194009687-035dc52d-e798-4def-92c3-ad7be7d4cb5a.png)

[2022-10-05 08:02] aeneasr commented on #2380
It is not yet released, only merged

[2022-10-05 08:10] frederikhors commented on #2380
Ok. Sorry.

[2022-10-05 08:34] aeneasr commented on #1643
Generally, I think device based trust is nice for two factor verification (not authentication though!).

Currently, we let that decision up to the implementor. You can choose what whoami and settings endpoints need what AAL (1=password,2=MFA). Your application then is able for making the decision whether MFA is required or not. This is useful because MFA can also be something that depends on what

[2022-10-05 08:34] aeneasr commented on #2641
This is now merged on master :)

[2022-10-05 08:34] #2641 closed

[2022-10-05 08:43] jonas-jonas opened #2785 "Cleanup business logic from recovery persister"
With #2645 there will be business logic introduced in the recovery persister (`persistence/sql/persister_recovery.go#170ff`).
This should be extracted to its own service/manager.

[2022-10-05 11:04] aeneasr commented on #2697
Hi, this is now available with `raw_claims` :)

[2022-10-05 11:04] #2697 closed

[2022-10-05 13:49] kelkarajay commented on #2701
@aeneasr @zepatrik I could use a review here.

Implementation approach (The login part is implemented in the linked PR - E2E tests yet to be fixed) -

Revoke current and issue new session.

## Login flow

As described below (picture), new session identifiers will be issued post **After Login hooks** execution.

<img width="1020" alt="Screenshot 2022-10-05 at 15 15 46" src="https://user-images.gith

[2022-10-05 14:59] aeneasr commented on #2701
Have you seen https://github.com/ory/kratos/pull/2761#discussion_r987568965 ?

[2022-10-05 16:58] zambien commented on #1643
@aeneasr after reading through Ory slack a bit more this approach makes sense.  We can have a custom application/proxy layer which decides if an MFA challenge is required and route to a Kratos instance that is configured that way.

[2022-10-05 23:23] gheibia commented on #2641
Could you please point me to the PR? Neither `Claims` struct nor `Microsoft Provider` seem to have been changed.

[2022-10-06 05:25] aeneasr commented on #2641
https://github.com/ory/kratos/pull/2765

[2022-10-06 10:53] alnr commented on #2402
This would be a breaking change in the API 🤷

[This change](https://github.com/ory/kratos/commit/0998cfb2fdda27ba8baeebcc603aae5fbe5c901f) was a no-op from my understanding of [gobuffalo/pop](https://gobuffalo.io/documentation/database/relations/#eagerpreload-mode). It would make a difference only if we were to retrieve multiple identities at once.

gobuffalo/pop doesn't have way of retrieving all

[2022-10-06 11:39] aeneasr commented on #2402
Possible that you're right here :/

True, we should come up with a concept that isn't neccessarily breaking (defaults to expand for example) and add it to the PR I will send you via PN.

[2022-10-06 12:28] #1451 closed

[2022-10-07 00:04] github-actions[bot] opened #2786 "upstream reference closed: github.com/ory/kratos/pull/2645"
The upstream [pull](https://github.com/ory/kratos/pull/2645) got closed. It is referenced in:
- [ ] [persistence/sql/persister_recovery.go#L207](https://github.com/ory/kratos/blob/8043371e4f4530a186c8d830238a31afb262ed5d/persistence/sql/persister_recovery.go#L207)

This issue was created by the [ORY Closed Reference Notifier](https://github.com/ory/closed-reference-notifier) GitHub action.

[2022-10-10 05:50] brahmlower commented on #2633
I started working on implementing this feature this weekend. I've got a branch in progress with the implementation working, but it's taking longer than I anticipated to get the tests updated. I think I'm relatively close to getting the tests finished though- hopefully in the next day or two.

[2022-10-10 08:38] zepatrik commented on #2633
Awesome!

[2022-10-10 22:35] woylie commented on #2374
Did you by any chance have another look into what would be involved to fix this? We're handling the array field updates outside of the settings flow via the admin API, but whenever the user submits a settings flow, the field will be wiped clean. I saw that you added a `PATCH` operation for updating identities, but it doesn't look like the settings flow can submitted with a `PATCH`, so there doesn'

[2022-10-11 15:24] #2711 closed

[2022-10-11 22:52] woylie opened #2794 "Webauthn and AAL2"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Cl

[2022-10-12 09:14] bar-amir commented on #2743
This issue is actually related to #2620.
The time zone on our machine is not UTC. Until this bug is fixed, we resolved the issue by setting an environment variable `TZ=UTC` to in the Kratos unit file.

[2022-10-12 15:17] philhug commented on #2043
This is also the flow I'd like to implement, in our SPA. It's also a lot easier if your API is not on the same url as the SPA as you don't have to share the cookie domain and can also easy develop on localhost.
Using cookies is just a lot more painful and doesn't feel natural in SPAs.

The other thing is, the current APIs don't allow to access the session cookie in any way from javascript, so I'll

[2022-10-12 15:18] philhug commented on #2487
I'd love to see this, if it allows a browser-initiated session to get access to JWT, which then can be used for API access.

[2022-10-12 22:28] fdelucchijr opened #2797 "Can’t update Identity credentials with adminUpdateIdentity"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Cl

[2022-10-13 09:16] #2762 closed

[2022-10-13 09:43] aeneasr commented on #2794
I think this is a great idea and possible to implement. Probably needs a few configuration settings. Testing will probably be a bit painful (you'll need to buy a yubikey capable of MFA and copy/paste the payloads or mock this somehow differently).

From our end it will probably take a while before this becomes part of the roadmap as there are many other things we need to resolve first.

[2022-10-13 10:46] jonas-jonas opened #2799 "Validation message of recovery code field not cleared when other error occurs"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Cl

[2022-10-13 15:10] #2799 closed

[2022-10-13 15:11] #2701 closed

[2022-10-13 15:21] zepatrik opened #2801 "Enhance Identity API to return more credential metadata"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Cl

[2022-10-14 08:02] supercairos opened #2805 "bug: return_to query parameter is not enforced if user is already logged-on"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Cl

[2022-10-16 10:46] Aeolun commented on #2144
@aeneasr  FYI, the docs are indeed wrong. It seems to imply that a configuration file in the docker image at `~/kratos.yml` or `~/.kratos.yaml` will automatically be loaded, but this is not the case. The documentation _also_ mentions that you need to specify `--config`, but it's made to look like a property for the docker command, instead of for `kratos serve`.

[2022-10-16 11:12] Aeolun commented on #2144
Added a PR to the docs repo to fix the things I've found: https://github.com/ory/docs/pull/1040

Ideally we do find a way to make kratos use a default config location (or figure out what it is?), or a way to pass the config through an environment variable (potentially already possible, just not in the docker documentation?)

[2022-10-17 07:29] levinhne opened #2813 "Create Recovery Link API: 403 security_csrf_violation"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Cl

[2022-10-17 08:07] #2813 closed

[2022-10-18 14:25] Sytten opened #2819 "Webhook error after registration leaks internal configuration"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Cl

[2022-10-18 14:29] Sytten commented on #2819
This is somewhat related to https://github.com/ory/kratos/discussions/2589, but what I am asking here is to avoid returning this information to the user. Internal server errors should just return a generic message and log instead.

[2022-10-19 09:36] kmherrmann commented on #2783
Yes, I believe that makes sense!

[2022-10-19 09:39] Windfarer commented on #2783
It would be better if we can query by the fields from `public_metadata` and `admin_metadata`

[2022-10-19 11:32] aeneasr commented on #2783
That's a good idea IMO! @zepatrik probably also needs this!

[2022-10-19 14:49] jonas-jonas opened #2824 "Verification via one time `code`s"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-10-19 15:40] joshbalfour opened #2825 "Email rendering & delivery via API / HTTP"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-10-19 15:43] jonas-jonas commented on #2824
There are multiple paths, a user could take here.

### **the happy path (verification enabled, but not required for login)**

1. The user registers with the required traits
2. A verification flow is created and a verification email with code is sent
3. The user is redirected to the flow and a verification form is shown
4. The user enters the correct code from the email and is redirected to the spe

[2022-10-20 06:04] aeneasr commented on #2825
Josh, I think this is a great idea! We will probably keep email rendering in for ease of use, but it could make sense to have an API-based courier. This has been requested also in issue https://github.com/ory/kratos/issues/1030

I think it should be relatively straight forward, we can probably re-use the SMS courier as that already is based on a REST API.

[2022-10-20 09:58] abador opened #2827 "No way to pass time formatting for json log format, time.RFC3339 has low precision"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Ne

[2022-10-20 18:21] david972 commented on #2783
let me know I can spend time on it

[2022-10-21 11:11] kmherrmann commented on #2783
@david972 a PR would be much appreciated! :)

[2022-10-21 14:05] jonas-jonas commented on #2760
Superseded by https://github.com/ory/kratos/issues/2824, whoops.

[2022-10-21 14:05] #2760 closed

[2022-10-21 14:06] jonas-jonas commented on #2760
Superseded by https://github.com/ory/kratos/issues/2824, whoops.

[2022-10-22 00:04] #984 closed

[2022-10-22 13:47] localhosted commented on #2487
I was going to try Ory Cloud as our auth solution for our next project because for some reason I though this already was available, this is a blocker

[2022-10-22 14:49] aep commented on #2487
we ended up adapting our system to the way ory works instead of the other way around.

It's a bit of a learning curve to _unlearn_ all the ideas you have when you're used to oauth but it was worth it. We now have a system that is considerably simpler to reason about.

[2022-10-23 00:04] #391 closed

[2022-10-23 00:04] #306 closed

[2022-10-24 07:37] mmeller-wikia opened #2832 "Recovery flow is not redirecting user to settings page when 2FA is enabled"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-10-24 07:38] mmeller-wikia commented on #2832
WIP PR https://github.com/ory/kratos/pull/2831

[2022-10-24 08:34] aeneasr commented on #2487
Thank you <3 I hope we can do better to make this transition easier in the future :)

[2022-10-24 12:42] nicolasburtey opened #2834 "pagination issue"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Ne

[2022-10-24 13:39] jonas-jonas commented on #2669
@kasbuunk no, unfortunately not. That PR only provided the basis for this feature and an implementation for the recovery strategy. Login & Verification are the next flows we want to implement this for, though.

[2022-10-24 15:24] brahmlower commented on #2620
I had a few thoughts about a long term solution to this yesterday. While doing some testing for my other branch, I replaced _every_ instance of `time.Now()` with `time.Now().UTC()` (even in cases where it wasn't technically necessary). It did seem to resolve some timezone issues, but it left a few questions:
1. How should accidental usage of the naked `time.Now()` be prevented in the future? I con

[2022-10-24 18:19] roelvandergoot opened #2837 "Support RFC 7239 Forwarded HTTP Extension"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-10-25 17:56] harnash opened #2839 "CI setup uses master versions of the tools/scripts"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-10-26 07:30] hiendaovinh commented on #2499
Is there any workaround to address this? I'm trying to compose both hydra-migrate and kratos-migrate together.

[2022-10-26 07:32] aeneasr commented on #2499
You need to database schemas, you can't run both on the same database schema / namespace

[2022-10-26 07:33] hiendaovinh commented on #2499
Thanks for your help!

[2022-10-26 07:55] #273 closed

[2022-10-26 08:25] aeneasr commented on #2839
This is on purpose / by design. It's the only way to ensure that we can push CI changes across all repos quickly. Regaring Golang etc - we use generics now anyways so upgrading Go is mandatory (and easy)

[2022-10-26 08:25] #2839 closed

[2022-10-26 08:32] harnash commented on #2839
Right. So how one can have v0.10.1 compatible with current CI setup? At the moment running official latest version through CI yields errors.
I know this is right now a concern only for forked repos but in the future when there will be (probably) multiple versions supported it will be quite difficult to be sure code is correct and is conforming to standards. I believe CI/checks should be passing on

[2022-10-26 08:34] aeneasr commented on #2839
That's a good point, for those cases it would make sense to use versioned set ups. Unfortunately, the amount of extra work we'll have to do every day if we were to change it to fixed versions is too much at the moment :(

Not sure if there's an alternative solution available

[2022-10-26 08:57] harnash commented on #2839
I can imagine this is a substantial work. I don't have an easy solution for that either. I hope that such breaking changes will not be introduced too often.

Anyway I hope we can fix v0.10.1 CI without much effort and don't introduce massive conflict on next merge/upgrade.
If we find an recipe to keep forks intact I will try to share it.

Cheers!

[2022-10-26 09:34] aeneasr commented on #2839
Thank you @harnash :)

[2022-10-26 12:24] openscript commented on #273
I'm happy to see the issue is marked as completed. Is it now possible to access the identities inside a Kratos instance via Hydras OIDC?

[2022-10-26 13:16] aeneasr commented on #273
Yes exactly, we will add a quick guide to get this working in an example to the release notes. We want to release it today, but are still working on getting this to production before doing so.

[2022-10-26 13:16] aeneasr commented on #273
Thank you all for your patience! I know it's been a long time coming :)

[2022-10-26 13:43] aeneasr commented on #2827
This is now fixed in ory/x :)

[2022-10-27 00:02] github-actions[bot] opened #2843 "upstream reference closed: github.com/cypress-io/cypress/issues/944"
The upstream [issues](https://github.com/cypress-io/cypress/issues/944) got closed. It is referenced in:
- [ ] [test/e2e/cypress/integration/profiles/oidc-provider/mfa.spec.ts#L72](https://github.com/ory/kratos/blob/0c8263b7fcdb004df6749aa25daf224ec4cb4947/test/e2e/cypress/integration/profiles/oidc-provider/mfa.spec.ts#L72)
- [ ] [test/e2e/cypress/integration/profiles/oidc-provider/mfa.spec.ts#L11

[2022-10-27 18:33] jonas-jonas opened #2845 "Duplicate form fields & CSRF issues in admin recovery"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Ne

[2022-10-28 11:39] thecodeassassin opened #2847 "Data mapping not working when updated from settings"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-10-28 16:21] aeneasr commented on #662
Just wanted to let you know that Ory Kratos now has a native integration with Ory Hydra (works out of the box on https://console.ory.sh) which basically allows multi-domain environments by using SSO with OpenID Connect.

This doesn't _really_ solve the issue here. We will introduce multi-cname support in the cloud system which uses some wrappers to make it work with cloudflare.

In the end, I'm no

[2022-10-28 16:43] knpwrs opened #2848 "Receiving "Method Not Allowed" when attempting to patch identity with admin API"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-10-28 16:53] jonas-jonas commented on #2848
Hi, this is a relatively new endpoint, that has not been officially released yet, so it's not available in the latest docker image, yet.

You can use it on the latest master branch by building the docker image yourself, but beware, that master can be unstable in some situations.

[2022-10-28 16:57] knpwrs commented on #2848
Is there an alternative in the meantime? I need to set a default `metadata_public.role` to `user`. Is there a way to do this outside of patching and outside of providing the entire identity document as a `PUT` to update?

Otherwise is there an expected timeframe for when this endpoint will be available?

[2022-10-28 17:06] jonas-jonas commented on #2848
Unfortunately, no, I don't think so. PUT would be your only option here AFAIK.

It does seem like you're trying to model a permission-esque system? So it might be worth looking into [ory/keto](https://github.com/ory/keto).

[2022-10-28 17:10] knpwrs commented on #2848
I'll look into Keto, thank you!

I was modeling based on the Kratos docs which mention storing roles in `metadata_public`: https://www.ory.sh/docs/kratos/manage-identities/managing-users-identities-metadata

[2022-10-28 19:30] knpwrs commented on #2848
Is there a way to template a webhook URL? Because then I could just use the following jsonnet document:

[code]

And then configure Kratos to `PUT` that to `/admin/identities/{identity.id}`.

[2022-10-28 21:36] hugotiburtino commented on #2825
joshbalfour, you read my thoughts! 😄

For our case I would also need more info from the UI that made the request in the first place (like the origin or in general all headers). If it were by default or we could customize it, it would be great.

[2022-10-30 15:29] ramirobg94 commented on #765
I am also trying to understand what is the best way to implement different roles, any idea or documentation?

Also I need to populate the role into the claims to be used by other services like hasura

[2022-10-31 12:15] jonas-jonas commented on #2845
Fixed in https://github.com/ory/kratos/pull/2846

[2022-10-31 12:16] #2845 closed

[2022-10-31 20:54] RubenWerdmuller commented on #595
@aeneasr any news on this front? 😄

[2022-11-01 12:48] aeneasr commented on #662
Having given this more thought we are convinced that for multi-domain and multi-brand environments, OIDC is the way to go to ensure smooth SSO. All other approaches are not really scalable due to e.g. number of redirects as well as other issues (cross-site logout for example). Therefore we’re closing this as resolved :)

[2022-11-01 12:48] #662 closed

[2022-11-01 12:56] aeneasr commented on #235
True, we will need to streamline the different error states!

[2022-11-01 13:09] aeneasr commented on #2682
You can, but it will be slow for a big number of identities!

[2022-11-01 13:14] #2663 closed

[2022-11-01 14:00] aeneasr commented on #2848
Hi, the approach is correct but this is not yet released in open source - it’s currently only available on the Ory Network. We’re working on a plan to have a roadmap for open source releases :)

[2022-11-01 14:07] aeneasr commented on #2848
I’m closing this because a fix is available on master :)

[2022-11-01 20:11] zepheiryan commented on #2663
Your [documentation](https://www.ory.sh/docs/ecosystem/configuring#loading-configuration-from-environment-variables) does not agree with this statement, and I'm already relying on this behavior because of the documentation.  Which is more representative of where you plan to be on this topic?

[2022-11-02 04:46] sijumoncy commented on #765
Any updation in  passing schemas id in registration flow instead of default schema . ?

[2022-11-02 06:27] Answerlord commented on #2682
thks for your notice,does it update in offical sdk document?

[2022-11-02 06:50] Answerlord commented on #2682
I don't find the  API for batch import operations in your offical sdk document (in github.com/ory/kratos-client-go) @aeneasr . Do I search for it in a wrong place?

[2022-11-02 08:07] frederikhors commented on #1855
Is not something to do immediately but it will be usefuyto have in the future...

[2022-11-02 08:39] vinckr commented on #2682
Hey @Answerlord,
there is not yet a SDK batch import method AFAIK, but you can use the CLI for batch operations as described here: https://www.ory.sh/docs/kratos/cli/kratos-import-identities

The current/proper SDK is client-go!
Check the docs here: https://github.com/ory/client-go/blob/master/docs/AdminIdentityImportCredentials.md

[2022-11-02 08:50] Answerlord commented on #2682
I see, thks a lot.

[2022-11-02 10:21] vuurpyl commented on #270
Still have the problem with kratos oryd/kratos:v0.10.1 and oathkeeper oryd/oathkeeper:v0.40.0

[2022-11-02 11:13] vinckr commented on #2663
Do you know what config keys we can set through env variables @aeneasr ?

[In the docs](https://www.ory.sh/docs/ecosystem/configuring#loading-configuration-from-environment-variables) it says:

We should at least rephrase this and ideally give a pointer to find out which variables you can set this way.
Or make clear that you should not set configs via env variables if it is hacky.

[2022-11-02 12:28] Quasarman commented on #1889
Hello @aeneasr,

Is this on anyone's radar? It seems odd to me that no one has had a similar problem since the behavior of changing non-privileged fields without being asked to re-authenticate seems rather common. We are still having the same issues with the latest kratos version which cause some unwanted steps / errors when a user updates their profile settings (first name, last name, birthday,..

[2022-11-02 13:07] aeneasr commented on #2663
Well, you can use it for simple things like `DSN` or other keys. But once arrays are involved it becomes much more complex to parse in our code base!

[2022-11-02 23:53] vstreame commented on #1057
We just hit this one as well. It would make our life (and the lives of our users) much better if we don't need to re-verify an email the OIDC provider has already marked as verified. Only if they _change_ the email from what the OIDC provider provides us should we re-triggering the verify flow.

[2022-11-03 09:51] kszafran commented on #2680
@aeneasr Could you comment on my findings? I want to contribute a fix once we agree on the proper solution. It would be nice to get a fix into the next release.

[2022-11-03 10:00] aeneasr commented on #2680
Yeah, I think that the remove option is missing basically this:

[code]

[2022-11-03 10:03] aeneasr commented on #2680
Sorry, my last comment was a bit quick to write. To be honest, I'm not sure. The code you linked though is using `lookup_secrets` and not `totp` (which is the issue linked here). I think in the end we are not setting the internal context after we remove the credentials.

I think the best option we have is to create go and cypress test cases that emulate this behavior and then fix it by working bac

[2022-11-03 10:11] jongpieter opened #2859 "Admin endpoint should implement CORS similar to public endpoint"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-03 21:33] sayoun commented on #2412
hello, we are interested in that feature as we must handle a legacy system and the new kratos, so we need to populate some metadata for each identity from the legacy system.

how high is this feature regarding the kratos roadmap/priority ?

[2022-11-04 06:47] aeneasr commented on #2412
Hi there, it has a high priority. But it probably won't be done before next year

[2022-11-04 07:30] aeneasr commented on #2859
See https://github.com/ory/kratos/pull/2860#pullrequestreview-1168051606

[2022-11-04 07:30] #2859 closed

[2022-11-04 07:32] aeneasr commented on #1855
We are trying to cut down the number of configuration options available to reduce the complexity of setting up Ory. Therefore unfortunately I have to say that we do not plan to support prefixed env vars. Sorry @frederikhors :(

[2022-11-04 07:32] #1855 closed

[2022-11-04 07:36] aeneasr commented on #765
Yes, the design should be like this. When specifying identity schemas, one should be able to specify whether a schema can be used for registration (naming is just a suggestion):

[code]

Then, during the init registration flow, it can be set as a query parameter:

[code]

[2022-11-04 08:42] bbroniewski commented on #273
Is that guide uploaded somewhere already? I can not find it. Thank you in advance!

[2022-11-04 16:51] viters opened #2863 "Kratos redirects twice to OIDC provider when missing traits"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-04 17:01] viters commented on #2863
**Possible workaround:**
Move the "required but not requested from provider traits" form before the first redirect to external provider.
1. Initialize sign up through Google
2. Show the form with required traits
3. Redirected to Google
4. Pick Google account
5. Redirect to sign up site
6. Account created, user is logged in

There are two problems with that approach:
1. It is different than other m

[2022-11-04 19:28] davidspiess commented on #662
Hey @aeneasr, congrats to the 2.0 hydra release!
Is there any documentation on how to configure hydra to use kratos as identity provider?

[2022-11-07 10:17] dezeroku commented on #273
@bbroniewski it works for me (meaning I can obtain tokens from hydra, based on Kratos' user data/login process) with the following config:
1. kratos docker image built from master, oauth2_provider.url in config set to hydra's admin API
2. [consent](https://github.com/ory/hydra-login-consent-node) v2.0.1, pointing to Hydra's admin/public API as usual
3. kratos' selfservice UI image :latest, pointin

[2022-11-07 15:04] jonas-jonas opened #2866 "Allow to filter for more fields in adminListCourierMessages"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-07 18:31] roccodev opened #2868 "Support for WebAuthn discoverable credentials/resident keys"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Ne

[2022-11-08 01:08] vstreame commented on #2764
@jonas-jonas Is there a planned release of Kratos coming out? The last release was a little over 5 months ago where this bug is present. Is HEAD in a place where it can be used in production environments?

[2022-11-08 01:09] roelvandergoot opened #2870 "Kratos Oauth2 integration in docker containers"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-08 05:53] #2870 closed

[2022-11-08 07:36] bbroniewski commented on #273
Hi @dezeroku, thank you for your help. I will wait for some time for official guide, if nothing will be available then for sure I will give it a try according to your points. Thank you again.

[2022-11-08 07:38] aeneasr commented on #273
If you want to check out the flow on the Ory Network (where the feature flag and release is available), check out: https://www.ory.sh/run-oauth2-server-open-source-api-security/

:)

To do it yourself, the guide from @dezeroku is on point

[2022-11-08 11:22] zepatrik opened #2872 "Identities created through admin API do not always get password and webauthn identifiers reserved"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Ne

[2022-11-08 11:37] nonparibus commented on #1246
@aeneasr Appreciate you've moved this to unplanned (sorry to hear). Were there any further internal/follow-up discussions re: this you could share thoughts or outputs from? This is something we'll be interested in longer-term and I'd like to track. Thanks!

[2022-11-08 14:02] MUzairS15 opened #2874 "How to order Identity schema fields?"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-08 14:28] #2872 closed

[2022-11-08 15:37] dezeroku commented on #273
@aeneasr on a side note, do you plan a tagged release with this change anytime soon or there's something else that you'd like to merge first?

[2022-11-09 09:57] jonas-jonas commented on #2764
@vstreame we have not decided on a new release date yet, as there are a few issues we need to take care of first.

[2022-11-09 10:42] aeneasr commented on #2863
We definitely need to address this. This was originally done out of security measures but the user experience with multiple google accounts just is not good.

[2022-11-09 13:05] 8thblock opened #2880 "additionalProperties "code" not allowed"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-09 13:06] 8thblock commented on #2880
Everything get deployed just fine if I remove the above section

[2022-11-11 11:05] jonas-jonas opened #2883 "Replace "Resend" button with "Retry Flow" button in verification & recovery flows"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-11 11:48] jonas-jonas opened #2884 "Design Doc: Common framework for state transitions on native/spa/web clients"
# Context and scope

Kratos currently does not define a common way for dealing with state transitions for all supported clients (web/spa/native). The only way to do this right now, is to use the `browser_location_change_required` error. But it uses URLs and is thus not supported on native clients.
Some situations include:

- The current **Flow expired** and the user needs to completely re-do the f

[2022-11-12 17:21] leecalcote commented on #2420
I'm facing the same issue. Did you find a resolution or work-around for this, @mooijtech?

[2022-11-12 18:31] mooijtech commented on #2420
@leecalcote Unfortunately not.
Seems to reference https://github.com/ory/kratos/issues/2805 which is still in the latest release.

[2022-11-13 05:45] abhi204 opened #2885 "Invalid traits picked up during registration flow with OIDC"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-13 12:50] nikist97 commented on #765
@aeneasr do you know if anyone is working on implementing this suggestion?

[2022-11-13 13:09] adgang commented on #2673
Looks like this is the best way to get the otel based jaeger backend working. Considering that jaeger is supporting [OTLP](https://www.jaegertracing.io/docs/1.39/client-libraries/#deprecating-jaeger-clients) as primary protocol, this seems to be future-proof as well. Make sure that otlp is enabled in your jaeger instance. The following works with the jaeger all-in-one docker image for example:
[co

[2022-11-13 16:00] aeneasr commented on #765
Afaik not!

[2022-11-13 16:59] nikist97 commented on #765
@aeneasr Would you say this is something a first-time contributor can implement? I haven't touched the Kratos code base before, but will be willing to spend some time on this since it's important for the project I am working on

[2022-11-13 23:00] aeneasr commented on #765
Depends a bit on how well you know Go but if you do I think it should be doable. The most difficult part will be writing the tests most likely!

[2022-11-14 09:15] jonas-jonas opened #2887 "Allow redirection to custom URI schemes after clicking the verification link"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-14 09:41] nikist97 commented on #765
Got it, I will give it a try, hope you don't mind me reaching out on Slack if I get stuck

[2022-11-14 10:18] halvardssm commented on #2473
I am also seeking this feature. My use case is when dealing with e2e tests, as it would be great to have a simple admin endpoint for verifying created users as a part of the test flow so that it does not fail from the `require_verified_address` hook.

[2022-11-14 12:27] aeneasr commented on #765
Of course :)

[2022-11-14 17:19] LukaJaj opened #2892 "Resend Verification Email"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-14 19:19] Igosuki commented on #1960
@viters I came upon this error today, it seems Identity is not available in the context of invalid recovery etc flows

[2022-11-14 19:24] sidharthramesh commented on #273
Wow! This is great! Any idea when there'll be a release @aeneasr?

[2022-11-14 22:45] viters commented on #1960
@Igosuki
I think there cannot be an `Identity` in invalid flows - mainly for practical reasons, but it is also reasonable from security reasons. AFAIK invalid flows are used when flows are initiated for non-existing account (refer to defaults on https://github.com/ory/kratos/tree/master/courier/template/courier/builtin/templates). Without account, there is just no `Identity`.

[2022-11-15 08:08] sidharthramesh commented on #273
@dezeroku, what did you use as the logout URL in the hydra config? The Kratos self-service UI doesn't have a specific logout endpoint and generates the logout link dynamically. My `hydra.yml` looks like this:

[code]

[2022-11-15 08:48] openscript commented on #596
I don't agree with @woylie. As the self creation of and identity, the self deletion of an entity should be handled by Kratos. There should be a hook, so other systems are notified about the deletion.

[2022-11-15 15:18] netthier commented on #2326
Adding this feature would be very appreciated, as any changes like updated emails in the IdP should transfer to Kratos as well.

[2022-11-15 16:28] netthier opened #2895 "Remove requirement of at least one trait in schema"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Ne

[2022-11-15 16:44] netthier commented on #2863
Possibly a duplicate of https://github.com/ory/kratos/issues/2635

[2022-11-15 22:47] CSharpRU opened #2896 "No ability to migrate TOTP"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-15 22:55] 8thblock commented on #2880
anyone at all? :-)

[2022-11-15 23:48] dezeroku commented on #273
@sidharthramesh I am afraid you're right, I've used the selfservice's /logout (nonexistent) endpoint in hydra configuration and never really got around to testing it. At this state of testing I was mostly using Kratos' logout option on selfservice's welcome page and cleaning cookies from time to time.

I think a good starting point would be to use the /logout endpoint from the consent app? And if

[2022-11-16 01:24] voice0726 commented on #2268
Hi, I have a question related to this.

In our use case we are currently considering, users can have a unique user id and a non-unique mail address.
In other words, users can have multiple accounts with the same email.
When users try to recover, users should input an userid to the recovery page.

Can Kratos handle such a case? If not, do you have any security concerns on this?

[2022-11-16 09:21] sthh commented on #2767
If the webhook is registered for a specific credential type (e.g. `password`), the hook is currently called pre-persist and post-persist and the registration can be cancelled before an identity is created. This is kind of hacky and undocumented though.

[code]

[2022-11-16 09:26] aeneasr commented on #2767
Yup that is correct

[2022-11-16 09:28] bbroniewski commented on #273
This is where official versions and guide is required, of course we may all together try to solve those issues, and reverse ingeener all of those, even looking at the code but those problems were already solved. @aeneasr could you tell us about plans? Is there a plan to publish it (versions and guide) or there was some decision change to not publish it to open community right now?

[2022-11-16 09:33] aeneasr commented on #2635
Thank you for the report!

Dupe of https://github.com/ory/kratos/issues/2863

[2022-11-16 09:33] #2635 closed

[2022-11-16 09:35] aeneasr commented on #2895
Hm, that's an interesting use-case. It's true that social sign in probably does not need any traits at all. However, I'm not sure if changing that could break something in the code, as it expects to have at least one trait.

[2022-11-16 09:40] aeneasr commented on #2326
I totally agree that this is a good feature! Solving this use case is very difficult to do because we would need to add:

1. Ensure that the social sign in provider returns a refresh token and the user also agrees to it
2. A background worker that continuously refreshes all the access tokens
3. A background worker that can refresh all the claims
4. A mechanism to deal with conflicts (field a alrea

[2022-11-16 09:43] aeneasr commented on #2892
That's a cool idea! It should also work for the new `code` flows.

[2022-11-16 10:16] aeneasr opened #2898 "Refresh identity traits on social / SSO login"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Ne

[2022-11-16 10:21] aeneasr commented on #2819
Thank you fo rthe report, we should adjust the error message here. Contributions are welcomed!

[2022-11-16 10:22] #2144 closed

[2022-11-16 10:24] aeneasr commented on #2374
We unfortunately still did not have the capacity to work on this. We do know that it's an issue but there are currently many other priorities we have to deal with :(

[2022-11-16 11:23] netthier commented on #2326
This would be sufficient for me. As far as I understand, every time a user logs in via a social login, Kratos receives a fresh access token containing all the data needed to refresh the user.
This is also the way Keycloak solves this issue.
A background worker automatically refreshing all users would be way beyond that, and I'm not aware of any services currently implementing that.

[2022-11-16 11:36] netthier commented on #2895
True, maybe directly deleting that line from the schema.json might be a bad idea.
IMO this should be investigated more then though.

[2022-11-16 11:38] netthier commented on #2898
Already posted this in one of the other issues, but I'm wondering what would happen to the user data if the Jsonnet code and schema are changed between logins.
Would the user be effectively recreated with the most recent schema and Jsonnet, or would some old version be run?

[2022-11-16 12:25] aeneasr commented on #2898
We would add the current identity data to the jsonnet context, and then it's your decision

[2022-11-18 14:35] 8thblock commented on #2880
Thank you. I shall wait :-)

[2022-11-19 11:56] abhi204 commented on #2885
@aeneasr I think it's wrong that I can use your email id as an identifier trait for my account and later when you try to register with that email (which belongs to you), you would see `An account with the same identifier (email, phone, username, ...) exists already.` error.

perhaps we should omit picking up these crucial fields (eg. email, phone number, etc.) from the form and only allow this for

[2022-11-19 22:26] lus opened #2903 "Read-only identity traits"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-21 08:13] aeneasr commented on #2903
You are looking for https://www.ory.sh/docs/kratos/manage-identities/managing-users-identities-metadata

[2022-11-21 08:31] lus commented on #2903
But as mentioned, is it possible to use metadata as primary identifiers for the identity?

[2022-11-21 09:03] aeneasr commented on #2903
Ah, I see. In that case you would probably use a blocking web hook to prevent the changing of the username as part of the settings flow: https://www.ory.sh/docs/kratos/hooks/configure-hooks#non-blocking-webhooks

[2022-11-21 09:06] lus commented on #2903
This it what I have done now, but I still wanted to ask if this is something coming to kratos natively. If it won't, then I'll open source my web hook that integrates with the identity schema for others to easily achieve this.

[2022-11-21 14:38] aeneasr commented on #2903
That would be awesome! It's one of the reasons why we added these blocking web hooks :) Configuring Ory is already hard enough and we would like to avoid further configuration options.

[2022-11-21 15:06] aeneasr commented on #2880
:)

[2022-11-21 15:06] #2880 closed

[2022-11-22 05:14] Rodeoclash commented on #1057
Agreed with this one as well, although I'd say that you need some level of control over this. Some OIDC providers I might trust more than others when it comes to verified email addresses.

[2022-11-22 07:21] DrBu7cher opened #2909 "[kratos] MariaDB-Automigration missing default values (20200317160354000002_create_profile_request_forms)"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/k8s/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/k8s/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Network]

[2022-11-22 14:36] Sytten commented on #2892
Agreed since there is not even a way to force kratos to mark the user as verified easily

[2022-11-22 18:54] JeySamir opened #2907 "CSRF tokens not equal in registration flow"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-22 19:24] 8thblock commented on #2880
PS. I still owe you a promised Angular sample

[2022-11-23 09:44] aeneasr commented on #2909
Hi there, MariaDB is not supported and we do not plan to add support for it. It's expensive to add database support due to the amount of work required when writing and testing migrations. Sorry!

[2022-11-23 09:44] #2909 closed

[2022-11-23 22:15] nikist97 commented on #765
@sijumoncy my understanding is that the suggestion from @aeneasr (I will let him correct me if I am wrong) will work the same way for both browser-based and API-based flows - a query parameter `use_schema` so in your case `self-service/registration/api?use_schema=<schema_id>`

[2022-11-24 13:20] DrBu7cher commented on #2909
Also for keto (on MariaDB) it was necessary to run
[code]

[2022-11-25 08:35] DrBu7cher commented on #2909
Following [this](https://github.com/ory/kratos/issues/770#issuecomment-755264164) and adding `sql_mode=""` in the DSN fixed the problems for kratos.
My DSN is now: `mysql://$(DB_USER):$(DB_PASSWORD)@tcp($(DB_HOST):$(DB_PORT))/$(DB_NAME)?sql_mode=''`
Keto still needed help as mentioned above.

[2022-11-26 21:52] baszalmstra commented on #2903
I have your exact same requirement and would love to your solution too!

[2022-11-26 23:55] lus commented on #2903
Alright, I'll do my best to create an open source project for that as quickly as possible. My current solution is very hardcoded to my use case so it's not something that's usable for anyone else. I'll let you know!

[2022-11-27 09:13] baszalmstra commented on #2903
Thanks! I appreciate it!

[2022-11-28 07:20] martinei opened #2913 "Support GRPC for Open Telemetry"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-28 13:37] sthh commented on #2767
Hi @aeneasr,
would you accept a PR for this? Your PR https://github.com/ory/kratos/pull/2888 will break our flow, since we do have to check registration request pre persist but also have to update the identity meta data, which is only possible post persist.

I though about something like:

[code]

If nothing is configured, this has the same behaviour as implemented in https://github.com/ory/kratos

[2022-11-28 18:52] nitedani opened #2915 "Sending emails fails silently"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-29 11:01] kszafran commented on #2680
As an update, I'm currently busy with other tasks. I won't be able to work on this for some time, unfortunately.

[2022-11-29 12:45] lus commented on #2903
@baszalmstra hello, I just published the first version of [kratos-readonly-traits](https://github.com/lus/kratos-readonly-traits) which hopefully fits your needs.
Feel free to hit me up if you encounter any issues :)

[2022-11-29 12:48] viters opened #2916 "`authenticator_method` `oidc` more descriptive"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-29 21:20] baszalmstra commented on #2903
@lus thats amazing! Thank you! Ill give it a go!

[2022-11-30 14:49] #2903 closed